extends layout

block content
  h1= title
  p #{content}
  h2 Nasze funkcje
  ul
    li Leki – Przeglądaj i zarządzaj listą leków, dodawaj nowe oraz edytuj istniejące.
    li Opinie użytkowników – Dodawaj i przeglądaj opinie innych użytkowników na temat leków.
    li Kalkulatory zdrowotne – Obliczaj swoje BMI oraz BMR, aby lepiej zadbać o swoje zdrowie.
    li Porady zdrowotne – Przeczytaj porady, które pomogą Ci dbać o zdrowie na co dzień.

