extends layout

block content
  h1 Podstawowe informacje o lekach
  p W tej sekcji znajdziesz ogólne informacje na temat leków, ich rodzajów, zastosowania oraz zasad bezpiecznego ich stosowania. 
  p Leki są substancjami, które pomagają w leczeniu lub zapobieganiu chorobom, a także w łagodzeniu objawów. Ważne jest, aby stosować je zgodnie z zaleceniami lekarza lub farmaceuty.

  h2 Rodzaje leków
  ul
    li Leki dostępne bez recepty - mogą być sprzedawane bez potrzeby wizyty u lekarza.
    li Leki na receptę - wymagają przepisu lekarskiego, ponieważ ich stosowanie wiąże się z pewnym ryzykiem.
    li Leki generyczne - odpowiedniki leków oryginalnych, często tańsze, ale o tej samej skuteczności.
    li Leki specjalistyczne - stosowane w leczeniu rzadkich i poważnych chorób.

  h2 Jak stosować leki?
  p Przed zażyciem leków zawsze zapoznaj się z ulotką informacyjną lub zaleceniami lekarza. Ważne jest, aby:
  ul
    li Przestrzegać zaleceń dotyczących dawki.
    li Zwrócić uwagę na godziny przyjmowania leków, np. na czczo lub po posiłku.
    li Unikać samodzielnego zmieniania dawkowania lub przerywania leczenia bez konsultacji z lekarzem.
    li Nie stosować leków przeterminowanych.
  
  h2 Jak przechowywać leki?
  p Leki należy przechowywać w sposób bezpieczny:
  ul
    li W suchym, chłodnym miejscu, z dala od źródeł ciepła i światła.
    li Z dala od dzieci, aby zapobiec przypadkowemu ich zażyciu.
    li Zgodnie z zaleceniami na opakowaniu — niektóre leki wymagają przechowywania w lodówce.
