extends layout

block content
  h1 Witaj w MediInfo
  p Strona jest tylko poglądowa 
  br
  p Przed użyciem zapoznaj się z treścią ulotki dołączonej do opakowania bądź skonsultuj się z lekarzem lub farmaceutą,gdyż każdy lek niewłaściwie stosowany zagraża Twojemu życiu lub zdrowiu.
